.cabecalho{
    background-color: transparent;
    position: absolute; /* Posiciona o cabeçalho de forma absoluta */
    top: 0; /* Alinha ao topo da viewport */
    left: 0; /* Alinha à esquerda da viewport */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
    z-index: 10; /* Garante que o cabeçalho fique acima de outros conteúdos */
    &__btn{
        border: gray 2px solid;
        text-transform: uppercase;
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        cursor: pointer;
            
            &:hover{
                background-color: rgb(226, 226, 226);
                border-color:rgb(226, 226, 226);
                
                .cabecalho__link{
                    color: black;
                }
            }
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        width: 100%;
    }
}