@use "./components/cabecalho";
@use "./components/texto-principal";
@use "./components/espaco-email";
@use "./components/container-epsn-na-disney";
@use "./components/top-10-hoje-brasil";
@use "./components/cards-top-10";
@use "./components/secao-planos";
@use "./components/media-query";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased; 
}
body{
    background-color:#040714;
}